.lowerpersondetail {
    border-radius: 0.5rem;

}

.projectmanagerpic {
    border-radius: 50%;
}

.upperheadside {
    font-size: 1.5rem;
}
.sidebarmenu{
    margin-top: 8vh;
}

.dashfonticonprnt {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidemenu {
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    
}

.dashboardmenygapprt {
    align-items: center;
}

.parentofsidebarmenu {
    background-color: rgb(5, 5, 53);
}

.upperheadside {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

.innermenutext{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

.managername,.mangerpost{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.75rem;
}
.managername{
    font-weight: 400;
}